@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root {
  --color-primary: #E8C1A4;
  --color-secundary: #31536E;
  --color-contrast: #83cdd8;

  --color-dark: black;
  --color-light: #f5f9f9;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-family: 'Prata', serif;
  list-style: none;
}

body {
  background-color: var(--color-secundary);
  color: var(--color-primary);
  padding: 0.5rem 2rem;
  transition: all 0.8s ease-in-out;
  position: relative;
}

main {
  min-height: calc((100vh - 10vh - 8vh) - 1rem);
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  /* border: 1px solid black; */
  background: rgb(252,69,69);
  background: linear-gradient(45deg, 
  rgba(252,69,69,1) 0%, 
  rgba(29,253,89,1) 50%, 
  rgba(58,114,180,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 1rem 0;
}

h3 {
  /* background-color: green; */
  animation: side 1.5s ease-in;
  width: fit-content;
}

@keyframes side {
  0% {
    transform: translateY(-60px) rotateX(0.7turn);
    opacity: 0;
  }
  50% {
    transform: none;
    opacity: 1;
  }
}

p {
  font-size: 1.1rem;
}

@media screen and (max-width: 720px) { 

  h1 {
    font-size: 4rem;
  }
  
}

@media screen and (max-width: 590px) { 

  main {
    /* border: 1px solid red; */
    min-height: calc((95vh - 10vh - 8vh) - 1rem);
    margin-top: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}
