@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root {
  --color-primary: #E8C1A4;
  --color-secundary: #31536E;
  --color-contrast: #83cdd8;

  --color-dark: black;
  --color-light: #f5f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-family: 'Prata', serif;
  list-style: none;

  scrollbar-width: thin;
  scrollbar-color: var(--color-secundary) var(--color-primary);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-secundary);
  border-radius: 20px;
  border: 3px solid var(--color-primary);
}

body {
  background-color: var(--color-secundary);
  color: var(--color-primary);
  padding: 0.5rem 2rem;
  transition: all 0.8s ease-in-out;
  position: relative;
  height: 100vh;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  /* border: 1px solid black; */
  background: rgb(252,69,69);
  background: linear-gradient(45deg, 
  rgba(252,69,69,1) 0%, 
  rgba(29,253,89,1) 50%, 
  rgba(58,114,180,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 1rem 0;
  
}

@keyframes myAnim {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(50px);
	}
}

h4 {
  font-size: 2rem;
  font-weight: 700;
  animation: side 1.5s ease-in;
  width: fit-content;
  border-bottom: 1px solid var(--color-contrast);
  margin-bottom: 1rem;
  text-align: center;
}

h5 {
  font-size: 2rem;
  font-weight: 900;
}

h6 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

@keyframes side {
  0% {
    transform: translateY(-60px) rotateX(0.7turn);
    opacity: 0;
  }
  50% {
    transform: none;
    opacity: 1;
  }
}

@keyframes side2 {
  0% {
    transform: translateY(60px) rotateX(-0.7turn);
    opacity: 0;
  }
  50% {
    transform: none;
    opacity: 0;
  }
}

@keyframes slide-in {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes slide-on {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}

p {
  font-size: 1.1rem;
}

.container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {

  body {
    height: 100%;
  }
}


@media screen and (max-width: 740px) { 

  h1 {
    font-size: 4rem;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 590px) { 

  main {
    /* border: 1px solid red; */
    margin-top: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  footer p {
    font-size: 0.8rem;
  }


}


