footer {
    min-width: 10vh;
    margin-top: 4rem;

}

.contacts {
    background-color: var(--color-primary);
    /* margin-top: -20px; */
    width: 5rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;

    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 5px 0 0;
    /* border: 3px solid wheat; */
}

.contacts img, .icon-footer {
    width: 50px;
    filter: invert(27%) sepia(83%) saturate(265%) hue-rotate(164deg) brightness(95%) contrast(97%);
    transition: transform 0.3s;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.reserved {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
}

.rrss {
    background-color: var(--color-primary);
    /* margin-top: -20px; */
    width: 5rem;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    position: sticky;
    position: absolute;
    top: calc(100% - 400px);
    
    right: 0;
    border-radius: 5px 0 0 5px;
    
}

.rrss a {
    display: none;
    cursor: pointer;

    animation: side 1.5s ease-in;
    width: fit-content;
}

#rrssBtn > img {
    transition: transform 0.3s;
}


.location, .email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#locationBtn {
    z-index: 2;
}

#text-location {
    rotate: 270deg;
    margin-bottom: 2rem;
    color: var(--color-secundary);
    /* display: none;
    animation: side 1.5s ease-in;
    width: fit-content;  */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
}

#text-location.mostrar {
    opacity: 1;
    animation: side 1.5s ease-in;
    width: fit-content;
}

#text-email {
    rotate: 270deg;
    margin-bottom: 7rem;
    margin-top: 6rem;
    color: var(--color-secundary);
    /* display: none; */
    margin-top: -9rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#text-email.mostrar {
    opacity: 1;
    margin-top: 6rem;
    animation: side 1.5s ease-in;
    width: fit-content;
}
/* .show {
    display: block;
} */


span {
    background: rgb(252,69,69);
    background: linear-gradient(45deg, 
    rgba(252,69,69,1) 0%, 
    rgba(29,253,89,1) 50%, 
    rgba(58,114,180,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rrss-movil {
    display: none;
}

.contacts img:hover, 
.icon-footer:hover,
#rrssBtn > img:hover {
    transform: scale(1.1);
}



@media screen and (max-width: 590px) { 

    .contacts, .rrss {
        display: none;
    }

    .rrss-movil img {
        width: 40px;
        filter: invert(78%) sepia(7%) saturate(1569%) hue-rotate(336deg) brightness(108%) contrast(82%);
        transition: transform 0.3s;
    }

    .rrss-movil img:hover {
        transform: scale(1.1);
    }

    .rrss-movil {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
    }

}