.card-gallery {
    gap: 1rem;
    animation: slide-on 1.5s ease-out;
    position: relative;
}

.card-gallery > img {
    opacity: 1;
    transition: opacity 1s ease 0s;
}

.card-gallery h2 {
    align-items: center;
    background-color: var(--color-pages);
    border-radius: 5rem;
    border: 6px solid var(--color-contrast);
    color: var(--color-date);
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: -1rem;
    transition: opacity 1s ease 0s;
    width: 100%;
}

.card-gallery img:hover{
    opacity: 0.5;
}

.card-gallery h2:hover {
    opacity: 1;
}

